@model ItLab3.Models.Friend
@{
    ViewBag.Title = "AddFriend";
}

<h2>Add Friend</h2>

@using (Html.BeginForm("InsertNewFriend", "Friend"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.FriendNum)
        @Html.TextBoxFor(m => m.FriendNum, new { @class = "form-control", type = "number" })
        @Html.ValidationMessageFor(m => m.FriendNum)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Ime)
        @Html.TextBoxFor(m => m.Ime, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Ime)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.MestoZiveenje)
        @Html.TextBoxFor(m => m.MestoZiveenje, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MestoZiveenje)
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
    @Html.ActionLink("Back", "ShowAllFriends", "Movies", new { @class = "btn btn-primary" })
}
