@model ItLab3.Models.Friend
@{
    ViewBag.Title = "UpdateFriend";
}

<h2>Update Friend</h2>

@using (Html.BeginForm("UpdateFriend", "Friend"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.FriendNum)
        @Html.TextBoxFor(m => m.FriendNum, new { @class = "form-control", type = "number" })
        @Html.ValidationMessageFor(m => m.FriendNum)
    </div>

    //Moram ova da go imam, inace koga ke se povika UpdateFriend go zema tocniot elemnt od lista
    //No potoa vo POST funkcijata UpdateFriend deluva kako da sum go pratil prviot element od listata(nultiot)
    //Ako se stavat breakpoints na 49 i 61 vo FriendController i se poglednat vrednostite za IdInList
    //Prviot pat e korektno, vo POST metodot e 0 t.e greskata, a so sledniov div raboti kako sto treba
    <div class="form-group " style="display: none">
        @Html.LabelFor(m => m.Id)
        @Html.TextBoxFor(m => m.Id, new { @class = "form-control", type = "number" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Ime)
        @Html.TextBoxFor(m => m.Ime, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Ime)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.MestoZiveenje)
        @Html.TextBoxFor(m => m.MestoZiveenje, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MestoZiveenje)
    </div>

    <button class="btn btn-primary" type="submit"> Update </button>
    @Html.ActionLink("Back", "ShowAllFriends", "Movies", new { @class = "btn btn-primary" })
}

